<div class="row">
	<div class="span8 offset1">
		<h2>Xylotone maker - alpha</h2>
		<p>
			Thanks for checking this out. It is my side-project while learning at Dev Bootcamp.
			Things are pretty early, so please be patient as things evolve. <br />
			The code for this project is available at <a href="https://github.com/1dlehands/xylotones">this github repository</a>. <br />
      You can learn more about me and my work at: <br />
      <a href="http://github.com/1dlehands">github/1dlehands</a> or <br />
      <a href="http://linkedin.com/in/jeffreymatthias">LinkedIn</a> <br />
			or check out my side company: <br />
			<a href="http://furnlab.com">furnlab.com</a>
			<h4>Click on the dots to remove them. </h4>
			If you're not on mobile, you can click and drag to the lower right to mass select.</P
		</p>
	</div>
	<div class="span2 offset1">
		<%=link_to (image_tag 'logo.png'),"http://furnlab.com", {:id => "logo"} %>	
	</div>
</div>


<div class="row">
	
	<div class="span2 offset1">
		<button type='button' id="show">show deleted</button></br>
		<button type='button' id="hide">hide deleted</button></br>
		<button href="<%= xylotone_path(@xylotone)%>" method="put" id="save-image" data-image-id="<%= @xylotone.id %>">Save</button>
	</div>
	
	<div class="span8 offset3" id="xylo-box">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
		       width="640px" height="480px" viewBox="0 0 640 480" xml:space="preserve" id="view-area" z-index="1">

		  <% @dots.each do |dot| %>
		    <circle cx="<%= dot[1] * 8 + 5 %>" cy="<%= dot[2] * 8    + 5%>" r="<%= [(dot[3]/100).to_f/50.0, 4].min %>" class='full' data-id="<%= dot[0] %>"/>
		  <% end %>
		</svg>
		<div id="selection-box" class="hidden"></div>
	</div>
	
</div>




